<mat-dialog-content class="first-start-dialog container text-sm">
    <div class="delete__item absolute p-1 top-2 right-3 m-1 hover:bg-violet-100 cursor-pointer transition-all duration-300" (click)="closeActorDialog()">
        <svg width="24" height="24" enable-background="new 0 0 32 32"  id="Слой_1" version="1.1" viewBox="0 0 32 32"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313" id="Close"/><g/><g/><g/><g/><g/><g/></svg>
    </div>
    <h3 class="mb-4 font-bold text-2xl ml-1">Usage</h3> 
    <ol class="list-decimal ml-4 mb-2">
        <li>Use "IMDb" button to switch search mode:
            <ul class="list-disc ml-3">
                <li>search in your movies list</li>
                <li>search in IMDBb database</li>
            </ul>
        </li>        
        <li>Use arrows for direct and reverse sort mode.</li>
        <li>Use grid or list mode</li>
        <li>Press the heart if it's your favorite movie. You also can filter by favorite.</li>        
        <li>Profile:
            <ul class="list-disc ml-2">
                <li>You can use the site without registration.</li>
                <li>When you registered (with email and password) you can use your data on different gadgets with synchronization</li>
                <li>You can also add your avatar.</li>
                <li>You can add friends using their email.</li>
                <li> Also, you can know about their favorite movies, and share with them your favorite movies.</li>
            </ul>
        </li>
        <li>You can add your star rating to the selected movie.</li>
        <li>Also you can mark the movie as watched / unwatched.</li>
        <li>You can filter your movies list by clicking on GENRE, actors, or directors' names.</li>
        <li>Detailed mode:
            <ul class="list-disc ml-2">
                <li>You can see more details about the movie by clicking on the image poster. </li>
                <li>You can click on the actor's name and get their photos.</li>
                <li>You can translate plot to Ukrainian by clickin on "T".</li>
                <li>There is Top Cast List and list of similar movies or TV show.</li>
                <li>More like this list are built looking at keywords and genres. </li>
                <li>Recommendations list are built by looking at other users who have rated the item and then the rest of everyone's ratings to build more interesting associations </li>
            </ul>
        </li>
        <li>There is also pagination on the top and the bottom.</li>
        <li>You can get much more info about movie on original IMDb site.</li>
    </ol>    
    <h4 class="font-bold text-xl ml-1" >Notes.</h4>
    <ul class="mb-2 list-disc ml-4">
        <li>For search on your list type any letters from movie title</li>
        <li>For search on IMDb database don't forget switch to the "IMDb search mode". You need type more then 3 symbols or IMDb movie ID.</li>
    </ul>
    <p class="mb-4 text-xl">Thank you.</p>         
</mat-dialog-content>
