<mat-dialog-content class="first-start-dialog container text-sm">
    <div class="delete__item absolute p-1 top-1 right-1 m-1 hover:bg-violet-100 cursor-pointer transition-all duration-300" (click)="closeActorDialog()">
        <svg width="24" height="24" enable-background="new 0 0 32 32"  id="Слой_1" version="1.1" viewBox="0 0 32 32"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313" id="Close"/><g/><g/><g/><g/><g/><g/></svg>
    </div>
    <h3 class="mb-4 font-bold text-2xl">Hello!</h3> 
    <p class="mb-4 text-xl">Add your first movie by clicking on <span class="font-bold">IMDb</span> button and writing one or more words from the movie title.</p>     
    <p class="mb-4 text-xl">Thank you.</p>         
</mat-dialog-content>
