<div class="profile__dialog container p-2">
    <h3 class="mb-4 font-bold text-2xl">Edit Profile</h3>    
    <form [formGroup]="profileForm" class="flex flex-col">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="string" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" readonly="true">
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Avatar</mat-label>            
            <input type="file" formControlName="imagePath" (change)="upload($event)">            
          </mat-form-field> -->

          <div 
            
            class="flex flex-col mb-4"
          >
            <p>Avatar</p>            
            <input type="file" (change)="upload($event)">            
          </div>
          <div *ngIf="isUploaded" class="mb-4 h-44 max-w-xs" >
            <img [src]="valueByControl('imagePath')" alt="" class="w-fit max-h-44">
            <!-- <button type="button" class="btn btn-danger" (click)="deleteImage()">delete</button> -->
          </div>
              
          <div class="button__inner flex justify-around">
            <button (click)="saveUserToFirestore()" mat-raised-button color="primary" class="hover:opacity-80">Save</button>
            <button (click)="closeProfileDialog()" mat-raised-button color="warn" class="hover:opacity-80">Cancel</button>
          </div>
    </form>
</div>
