<div class="main container mx-auto max-w-7xl font-mono sm:hidden">
  <div
    class="movie__item relative border border-2 border-gray-300 rounded-xl my-2 mx-1 p-2 w-7/8 flex flex-col text-left"
  >
    <a
      [routerLink]="['/']"
      class="check__item absolute p-1 top-0 right-0 m-1 hover:bg-violet-100 cursor-pointer transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="#000000"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"
        />
      </svg>
    </a>
    <h2 class="movie__title text-2xl mb-2 font-bold text-violet-900">
      {{ movie.title }}
    </h2>
    <div class="movie__info--inner flex text-base mb-2">
      <p *ngIf="movie.type === 'series'" class="date font-bold">
        TV {{ movie.type }} *&nbsp;
      </p>
      <p class="date font-bold">{{ movie.year }} *&nbsp;</p>
      <p *ngIf="movie.rated" class="date font-bold">
        {{ movie.rated }} *&nbsp;
      </p>
      <p class="date font-bold">{{ movie.runTime }}</p>
    </div>    
    <div
      class="movie__main-content flex mb-2"
    >
      <div class="img__inner mr-2 w-1/4 my-auto">
        <img class="w-full" src="{{ movie.poster }}" alt="img" />
      </div>
      <div class="content__info w-3/4 text-sm">        
        <div class="item__right p-2 flex flex-col">
          <p class="plot text-left">{{ movie.plot }}</p>
        </div>
      </div>
    </div>
    <ul class="genre__list flex flex-wrap justify-around">
        <li
          class="genre__item mr-2 rounded-lg py-1 px-2 border border-solid border-1 border-gray-300 cursor-pointer hover:bg-violet-100 transition-all duration-300 mb-2"
          *ngFor="let genre of movie.genres"
        >
          {{ genre }}
        </li>
      </ul>
    <div class="top__right--inner flex text-center mx-auto text-base">
      <div *ngIf="movie.imdbRating" class="imdbRating__inner flex-col mx-4">
        <p class="rating__title">IMDb Rating</p>
        <p class="rating__data text-xl font-bold text-violet-900">
          {{ movie.imdbRating | number : "1.1" }}
        </p>
      </div>
      <div class="myRating__inner flex-col mx-4">
        <p class="rating__title">My Rating</p>
        <p class="rating__data text-xl font-bold text-violet-900">
          {{ movie.myRating }}/5
        </p>
      </div>
    </div>
    <h2
      *ngIf="movie.director.length"
      class="movie__title text-left text-lg font-bold my-1 text-violet-900 pt-2"
    >
      Director:
      <span
        *ngFor="let director of movie.director; index as index"
        class="cursor-pointer hover:text-teal-700 transition-all duration-300"
      >
        {{ index > 0 ? " * " + director : director }}
      </span>
    </h2>
    <h2
      *ngIf="movie.writer"
      class="movie__title text-left text-lg font-bold my-1 text-violet-900"
    >
      Writers:
      <span
        *ngFor="let writer of movie.writer; index as index"
        class="cursor-pointer hover:text-teal-700 transition-all duration-300"
      >
        {{ index > 0 ? " * " + writer : writer }}
      </span>
    </h2>
    <h2
      *ngIf="movie.actors.length"
      class="movie__title text-left text-lg font-bold my-1 text-violet-900"
    >
      Stars:
      <span
        *ngFor="let actor of movie.actors; index as index"
        class="cursor-pointer hover:text-teal-700 transition-all duration-300"
      >
        {{ index > 0 ? " * " + actor : actor }}
      </span>
    </h2>
    <p *ngIf="movie.awards" class="awards text-left mb-2 font-bold">
      Awards: <span class="font-normal">{{ movie.awards }}</span>
    </p>
    <p class="country text-left mb-2 font-bold">
      Country of origin:
      <span
        *ngFor="let country of movie.country; index as index"
        class="cursor-pointer hover:text-teal-700 transition-all duration-300 font-normal"
      >
        {{ index > 0 ? " * " + country : country }}
      </span>
    </p>
    <p *ngIf="movie.totalSeasons" class="awards text-left mb-2 font-bold">
      Total seasons: <span class="font-normal">{{ movie.totalSeasons }}</span>
    </p>
    <a
      [href]="'https://www.imdb.com/title/' + movie.id + '/?ref_=wl_li_tt'"
      [target]="'_blank'"
      class="imdb__link text-left hover:text-violet-900 underline"
      >More details on IMDb</a
    >
  </div>
</div>

<div class="main container mx-auto max-w-7xl font-mono hidden sm:block">
  <div
    class="movie__item border border-2 border-gray-300 rounded-xl my-2 mx-1 p-2 w-7/8 flex-col"
  >
    <div class="top__movie-item flex justify-between my-2">
      <div class="top__left-inner flex-col">
        <h2
          class="movie__title text-3xl lg:text-5xl font-bold mb-2 border-b-2 border-solid border-gray-300 pb-2 text-violet-900"
        >
          {{ movie.title }}
        </h2>
        <div class="movie__info--inner flex text-lg">
          <p *ngIf="movie.type === 'series'" class="date font-bold">
            TV {{ movie.type }} *&nbsp;
          </p>
          <p class="date font-bold">{{ movie.year }} *&nbsp;</p>
          <p *ngIf="movie.rated" class="date font-bold">
            {{ movie.rated }} *&nbsp;
          </p>
          <p class="date font-bold">{{ movie.runTime }}</p>
        </div>
      </div>
      <div class="top__right--inner flex text-center my-auto">
        <div *ngIf="movie.imdbRating" class="imdbRating__inner flex-col mx-2">
          <p class="rating__title">IMDb Rating</p>
          <p class="rating__data text-2xl font-bold text-violet-900">
            {{ movie.imdbRating | number : "1.1" }}
          </p>
        </div>
        <div class="myRating__inner flex-col mx-2">
          <p class="rating__title">My Rating</p>
          <p class="rating__data text-2xl font-bold text-violet-900">
            {{ movie.myRating }}/5
          </p>
        </div>
        <!-- <div class="rtRating__inner flex-col mx-2">
                    <p class="rating__title">Rotten Tomatoes</p>
                    <p class="rating__data text-2xl font-bold text-violet-900">{{movie.rtRating}}</p>
                </div> -->
      </div>
    </div>
    <div class="main__content flex">
      <div class="img__inner mr-2 w-2/5">
        <img class="w-full" src="{{ movie.poster }}" alt="img" />
      </div>
      <div class="content__info w-3/5">
        <ul class="genre__list flex mx-auto mb-2 md:flex-wrap lg:text-xl">
          <li
            class="genre__item mx-2 text-xl lg:text-2xl rounded-lg py-1 px-2 border border-solid border-1 border-gray-300 cursor-pointer hover:bg-violet-100 transition-all duration-300 mb-2"
            *ngFor="let genre of movie.genres"
          >
            {{ genre }}
          </li>
        </ul>
        <div class="item__right md:mx-2 p-2 flex flex-col">
          <h2
            *ngIf="movie.director.length"
            class="movie__title text-center sm:text-left text-xl lg:text-2xl font-bold my-2 border-b-2 border-solid border-gray-300 pb-2 text-violet-900"
          >
            Director:
            <span
              *ngFor="let director of movie.director; index as index"
              class="cursor-pointer hover:text-teal-700 transition-all duration-300"
            >
              {{ index > 0 ? " * " + director : director }}
            </span>
          </h2>
          <h2
            *ngIf="movie.writer"
            class="movie__title text-center sm:text-left text-xl lg:text-2xl font-bold my-2 border-b-2 border-solid border-gray-300 pb-2 text-violet-900"
          >
            Writers:
            <span
              *ngFor="let writer of movie.writer; index as index"
              class="cursor-pointer hover:text-teal-700 transition-all duration-300"
            >
              {{ index > 0 ? " * " + writer : writer }}
            </span>
          </h2>
          <h2
            *ngIf="movie.actors.length"
            class="movie__title text-center sm:text-left text-xl lg:text-2xl font-bold my-2 border-b-2 border-solid border-gray-300 pb-2 text-violet-900"
          >
            Stars:
            <span
              *ngFor="let actor of movie.actors; index as index"
              class="cursor-pointer hover:text-teal-700 transition-all duration-300"
            >
              {{ index > 0 ? " * " + actor : actor }}
            </span>
          </h2>
          <p
            class="plot text-center sm:text-left lg:text-2xl mb-2 border-b-2 border-solid border-gray-300 pb-2"
          >
            {{ movie.plot }}
          </p>
          <p
            *ngIf="movie.awards"
            class="awards text-center sm:text-left lg:text-2xl mb-2 border-b-2 border-solid border-gray-300 pb-2 font-bold"
          >
            Awards: <span class="font-normal">{{ movie.awards }}</span>
          </p>
          <p
            class="country text-center sm:text-left lg:text-2xl mb-2 border-b-2 border-solid border-gray-300 pb-2 font-bold"
          >
            Country of origin:
            <span
              *ngFor="let country of movie.country; index as index"
              class="cursor-pointer hover:text-teal-700 transition-all duration-300 font-normal"
            >
              {{ index > 0 ? " * " + country : country }}
            </span>
          </p>
          <p
            *ngIf="movie.totalSeasons"
            class="awards text-center sm:text-left lg:text-2xl mb-2 border-b-2 border-solid border-gray-300 pb-2 font-bold"
          >
            Total seasons:
            <span class="font-normal">{{ movie.totalSeasons }}</span>
          </p>
          <a
            [href]="
              'https://www.imdb.com/title/' + movie.id + '/?ref_=wl_li_tt'
            "
            [target]="'_blank'"
            class="imdb__link sm:text-left text-center hover:text-violet-900 underline"
            >More details on IMDb</a
          >
        </div>
      </div>
    </div>    
  </div>
</div>
