<div class="container mx-auto max-w-7xl">
    <p 
        class="subtitle text-3xl font-bold mt-2 mb-2 mx-1 pb-2 border-b-2 border-solid border-gray-300 text-violet-900 cursor-pointer w-max"
    >{{title}}</p>
    <swiper-container #swiperContainer class="swiper-container w-full">
        
            <div class="swiper-wrapper">
                <ng-container *ngFor="let movie of videoContents">
                    <div class="swiper-slide relative w-48 h-24">
                        <h3 *ngIf="movie.categoryTitle" class="text-2xl font-bold mb-1 border-b-2 border-solid border-gray-300 bg-amber-300 text-violet-900 rounded-md text-center" >{{movie.categoryTitle}}</h3>
                        <img *ngIf="movie.poster_path" class="mx-auto" [src]="'https://www.themoviedb.org/t/p/w342/'+movie.poster_path" alt="">
                        <img *ngIf="movie.profile_path" class="mx-auto" [src]="'https://www.themoviedb.org/t/p/original/'+movie.profile_path" alt="">
                        <div class="description p-2">
                            <h4 (click)="goMovieDetails(movie.id)" *ngIf="movie.media_type =='movie'" class="text-xl sm:text-lg flex flex-wrap font-bold">{{movie.title}}</h4>
                            <h4 *ngIf="movie.media_type =='person'" class="text-xl sm:text-lg flex flex-wrap font-bold">{{movie.title}}</h4>
                            <div *ngIf="movie.media_type =='tv'"class="series__inner flex justify-between">
                                <h4 class="text-lg flex flex-wrap font-bold">{{movie.name}}</h4>
                                <div class="type__inner text-xl rounded-lg py-0 px-2 border border-solid border-1 border-violet-100 bg-violet-100 h-fit">
                                tv     
                                </div>                
                            </div>                            
                            <!-- <h4 class="text-lg flex flex-wrap font-bold">{{movie.title}}</h4> -->
                            <div class="details__inner flex justify-between text-base">
                                <p *ngIf="movie.release_date" class="year">{{movie.release_date}}</p>
                                <p *ngIf="!movie.release_date" class="year">{{movie.first_air_date}}</p>
                                <p class="rating">{{movie.vote_average | number: '1.1-1'}}  </p>
                            </div>
                            <p *ngIf="movie.media_type =='person'">{{movie.name}}</p>
                        </div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                </ng-container>
            </div>
        
    </swiper-container>
</div>

